src/main/mule/indigoFlightsByUriParams.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="indigoFlightsByUriParamsFlow" doc:id="5199f4d8-09a7-4aea-b29f-a7ed4679433f" >
		<logger level="INFO" doc:name="Logger" doc:id="674b9cd9-33c3-43e1-9dc6-acfb17492abd" message="indigoFlightsByUriParamsFlow starts............."/>
		<http:request method="GET" doc:name="Request" doc:id="f133642e-37df-4b23-8966-fd2dd581642a" config-ref="HTTP_Request_configuration" path="/api/getFlights">
			<http:query-params ><![CDATA[#[output application/java
---
{
	from : attributes.uriParams.source,
	to : attributes.uriParams.destination,
	depatureDate : attributes.uriParams.doj
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="67c2f06a-1e09-4430-946e-9b0bb2072996" message="response from indigo airlines..................#[payload]"/>

	</flow>
</mule>
